---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
import Work from '../sections/Work.astro';
import Contact from '../sections/Contact.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Pavan Patil | Robotics Engineer</title>
  </head>
  <body>
    <Navbar />
    <main>
      <Hero />
      <About />
      <Experience />
      <Work />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
